@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root{
    --violet : #7562e0;
    --dark : #625c7e;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: var(--dark);
   }


.nav{
    display: flex;
    justify-content: space-between;
    padding: 3rem;
}
.nav--item{

    margin-left: 1rem;
}
a{
    text-decoration: none;
}
.section-1{
    display: flex;
    justify-content: space-around;
}

.image{
    width: 30%;
}

.image img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    
}

.title{
    color: black;
    font-size : 5rem;

}
.kkstar{
    color: var(--violet);
}
.btn{
    width: 40%;
    height: 50px;
    background-color: white;
    margin-top: 1rem;
    cursor: pointer;
    border: 3px solid var(--violet);
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.section-2{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.skills{
    display: flex;
}
.card {
    width: 31%;
    height: 250px;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 1rem;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 0px 20px -5px rgb(0 0 0 / 18%);

}
.skills-header{
    font-size: 30px;
    color: var(--violet);
}

.experience h1{
    font-size: 80px;
    color: var(--violet);
}

.skills-title{
    font-size: 20px;
    color: var(--violet);
    margin-top: 10px;
}
.skills-icons{
    font-size: 30px;
    color: var(--violet);
}